.dashboard-back {
	width: 100%;
	min-height: 100vh;
	text-align: center;
	background: linear-gradient(181.71deg, rgba(246, 232, 234, 0.24) -5%, rgba(249, 240, 230, 0.24) 37.12%, rgba(244, 158, 109, 0.24) 143.7%);
	background-image: url('../assets/image/Rectangle\ 5986.svg'), url('../assets/image/Group.svg');
	background-size: cover;

	.dashbar {
		width: 100%;
		height: 136px;
	}
}